{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Aegis</title>
    
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon-32x32.png' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/6511f82daf.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'styles.css' %}">


</head>
<body>

    <header style = "margin-left : 150px;">
        <nav>
            <div class="left">
                <div class ="brand-logo"><img src="{% static 'images/png-transparent-password-manager-user-computer-icons-password-safe-safe-blue-text-technic.png' %}" alt="Logo"></div>
                <div class ="name"><span><a class="brand-name" href = "{% url 'home' %}">Aegis</a></span></div>
            </div>
            <div class="mid">
                <ul>
                    <li><a class = "options" href = "{% url 'home' %}"><i class="fa-solid fa-house"></i>Home</a></li>
                    <li><a class = "options" href = "{% url 'home' %}#fet-sec"><i class="fa-solid fa-caret-down"></i>Features</a></li>
                    <li><a class = "options" href = "{% url 'home' %}#foot"><i class="fa-solid fa-phone"></i>Contact Us</a></li>
                </ul>
            </div>

            <div class = "right">
                {% if user.is_authenticated %}
                    <div class = "signed_name"> {{user.first_name}} </div>
                {% elif user.is_authenticated %}
                    <div class = "signed_name"> Welcome {{user.first_name}} </div>
                {% else %}
                    <a href="{% url 'signin' %}">
                        <button class="signin-button">Sign in</button>
                    </a>
                    <a href="{% url 'login' %}">
                        <button class="login-button">Log in</button>
                    </a>
                {% endif %}
            </div>
    
        </nav>
    </header>
    
        <main>

            <div class="sidebar">
                <ul class="sidebar-menu">
                    <li class ="side-container">
                        <a href="{% url 'home' %}">
                            <i class="fas fa-home fa-lg"></i>
                            <span>Home</span>
                        </a>
                    </li>
                    <li class ="side-container" style = "margin:50px;">
                        <a href="#">
                            <i class="fas fa-info-circle fa-lg"></i>
                            <span>About</span>
                        </a>
                    </li>
                    <li class ="side-container">
                        <a href="#">
                            <i class="fas fa-cog fa-lg"></i>
                            <span>Services</span>
                        </a>
                    </li>

            
                </ul>
            </div>

            
            
            <section style = "margin-left : 150px;">
                <div class = "display-header">
                    <div class = "display-title">
                    <h3> Passwords</h3>
                    </div>

                    <div class = "add-button">
                        <button id="addPass">Add</button>
                    </div>
                </div>


{% comment %}                 
               <div class = "show-passwords">
                    {% for pat in passs %}
                    <div class = "display-item">
                        <h2> Name : {{ pat.website }}</h2>
                        <hr style = "background-color: black;">
                        <p>Notes : {{ pat.notes }}</p>
                        <button class="view-button">View Password</button>
                    </div>
                    {% endfor %}
                </div>  {% endcomment %}
                

                <div class = "show-passwords">
                    {% for password_entry in user_passwords %}
                    <div class = "display-item">
                        <h2> Name : {{ password_entry.website }}</h2>
                        <hr style = "background-color: black;">
                        <p>Notes : {{ password_entry.notes }}</p>
                       
                         
                        {% if view_yes %}
                            {{password_entry.password_hash}}
                        {% else %}
                        <button id = "viewPass" class="view-button">View Password</button>
                        {% endif %}
                        

                        <button class="update-button" data-entry-id="{{ password_entry.id }}">Update Password</button>
                             
                        <button class="delete-button" data-entry-id="{{ password_entry.id }}">Delete Password</button>
      
                        {% comment %} <button id = "updatePass" class="view-button">Update Password</button> {% endcomment %}


                        {% comment %} <a href = "{% url 'update' %}">
                        <a href = "{% url 'delete' %}"><button id = "deletePass" class="view-button">Delete Password</button>
                         {% endcomment %}
                            
                        {% if error_message %}
                        <span style="color: red; font-size: 13px;">{{ error_message }}</span>
                        {% endif %}
                    
                    </div>
                    {% endfor %}
                </div>


        

                <div class="modal" id="newPasswordModal">
                    <div class="modal-content">
                        <span class="close-button" id="closeButton">&times;</span>
                        <h2>Add New Password</h2>
                        <form class="password-form" action="{% url 'info' %}" method="post">
                            {% csrf_token %}
                            <label for="website">Website Name</label>
                            <input type="text" id="website" name="websitee" placeholder="Enter website/app name" required>
                        
                            <label for="password">Password</label>
                            <input type="password" id="password1" name="password" placeholder="Enter password" required>
                        
                            <label for="notes">Notes</label>
                            <textarea id="notes" name="notes" placeholder="Enter notes"></textarea>
                        
                            <button type="submit">Save Password</button>
                            
                        </form>
                    </div>
                </div>

                <div class="modal" id="viewpasswordModal">
                    <div class="modal-content">
                        <span class="close-button" id="closeButton1">&times;</span>
                        <h2>View Password</h2>
                        <form class="password-form" action="{% url 'view' %}" method="post">
                            {% csrf_token %}
                            <label for="website">Username</label>
                            <input type="text" id="username" name="username" placeholder="Enter Username" required>
                        
                            <label for="password">Enter master Password</label>
                            <input type="password" id="password2" name="password" placeholder="Enter master password" required>
                        
                        
                            <a href = "{% url 'view' %}"><button type="submit">View Password</button></a>
                            
                        </form>
                    </div>
                </div>
                
                <div class="modal" id="updatepasswordModal">
                    <div class="modal-content">
                        <span class="close-button" id="closeButton2">&times;</span>
                        <h2>Update Password</h2>
                        <form class="password-form" action="{% url 'update' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="entry_id" id="entryIdInput" value="">

                            <label for="website">Username</label>
                            <input type="text" id="username3" name="username" placeholder="Enter Username" required>
                        
                            <label for="password">Enter master Password</label>
                            <input type="password" id="password3" name="master_password" placeholder="Enter master password" required>
                        

                            <label for="password">Enter new Password</label>
                            <input type="password" id="password3" name="password" placeholder="Enter new password" required>
                        
                            <a href = "{% url 'update' %}">   
                            <button type="submit">Update Password</button></a>
                            
                        </form>
                    </div>
                </div>

                <div class="modal" id="deletepasswordModal">
                    <div class="modal-content">
                        <span class="close-button" id="closeButton3">&times;</span>
                        <h2>Delete Password</h2>
                        <form class="password-form" action="{% url 'delete' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="idd" id="entryIdadd" value="">
                            <label for="website">Username</label>
                            <input type="text" id="username3" name="username" placeholder="Enter Username" required>
                        
                            <label for="password">Enter master Password</label>
                            <input type="password" id="password3" name="password" placeholder="Enter master password" required>
                        
                            <a href = "{% url 'delete' %}">   
                            <button type="submit">Delete Password</button></a>
                            
                        </form>
                    </div>
                </div>


                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li class="message {% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}



            </section>

            
        </main>

        <script>
            document.addEventListener("DOMContentLoaded", function() {
                const newPasswordButton = document.getElementById("addPass");
                const newPasswordModal = document.getElementById("newPasswordModal");
                const closeButton = document.getElementById("closeButton");
                const viewPasswordButtons = document.querySelectorAll(".view-button");
                const viewpasswordModal = document.getElementById("viewpasswordModal");
                const closeButton1 = document.getElementById("closeButton1");
                const updatePasswordButtons = document.querySelectorAll(".update-button"); // Add the class to your update buttons
                const updatepasswordModal = document.getElementById("updatepasswordModal");
                const entryIdInput = document.getElementById("entryIdInput");
                const closeButton2 = document.getElementById("closeButton2");
                const deletePasswordButtons = document.querySelectorAll(".delete-button"); // Add the class to your delete buttons
                const deletepasswordModal = document.getElementById("deletepasswordModal");
                const closeButton3 = document.getElementById("closeButton3");
                
                newPasswordButton.addEventListener("click", function() {
                    newPasswordModal.style.display = "block";
                });
        
                closeButton.addEventListener("click", function() {
                    newPasswordModal.style.display = "none";
                });
        
                viewPasswordButtons.forEach(button => {
                    button.addEventListener("click", function() {
                        viewpasswordModal.style.display = "block";
                    });
                });
        
                closeButton1.addEventListener("click", function() {
                    viewpasswordModal.style.display = "none";
                });
        
                updatePasswordButtons.forEach(button => {
                    button.addEventListener("click", function() {
                        const entryId = button.getAttribute("data-entry-id");
                        entryIdInput.value = entryId;
                        updatepasswordModal.style.display = "block";
                    });
                });
        
                closeButton2.addEventListener("click", function() {
                    updatepasswordModal.style.display = "none";
                });
        
                deletePasswordButtons.forEach(button => {
                    button.addEventListener("click", function() {
                        const entryId = button.getAttribute("data-entry-id");
                        entryIdadd.value = entryId;
                        deletepasswordModal.style.display = "block";
                    });
                });
        
                closeButton3.addEventListener("click", function() {
                    deletepasswordModal.style.display = "none";
                });
            });
                
            
            {% comment %} document.addEventListener("DOMContentLoaded", function() {
                const newPasswordButton = document.getElementById("addPass");
                const newPasswordModal = document.getElementById("newPasswordModal");
                const closeButton = document.getElementById("closeButton");
            
                newPasswordButton.addEventListener("click", function() {
                    newPasswordModal.style.display = "block";
                });
            
                closeButton.addEventListener("click", function() {
                    newPasswordModal.style.display = "none";
                });
            });
            

            document.addEventListener("DOMContentLoaded", function() {
                event.preventDefault();
                const viewPasswordButton = document.getElementById("viewPass");
                const viewpasswordModal = document.getElementById("viewpasswordModal");
                const closeButton1 = document.getElementById("closeButton1");
            
                viewPasswordButton.addEventListener("click", function() {
                    viewpasswordModal.style.display = "block";
                });
            
                closeButton1.addEventListener("click", function() {
                    viewpasswordModal.style.display = "none";
                });
            });
 {% endcomment %}

{% comment %} 
            document.addEventListener("DOMContentLoaded", function() {
                const updatePasswordButton = document.getElementById("updatePass");
                const updatepasswordModal = document.getElementById("updatepasswordModal");
                const closeButton3 = document.getElementById("closeButton3");
            
                updatePasswordButton.addEventListener("click", function() {
                    updatepasswordModal.style.display = "block";
                });
            
                closeButton3.addEventListener("click", function() {
                    updatepasswordModal.style.display = "none";
                });
            }); {% endcomment %}

            {% comment %} document.addEventListener("DOMContentLoaded", function() {
                const deletePasswordButton = document.getElementById("deletePass");
                const deletepasswordModal = document.getElementById("deletepasswordModal");
                const closeButton4 = document.getElementById("closeButton4");
            
                deletePasswordButton.addEventListener("click", function() {
                    deletepasswordModal.style.display = "block";
                });
            
                closeButton4.addEventListener("click", function() {
                    deletepasswordModal.style.display = "none";
                });
            }); {% endcomment %}

        </script>
        

    

</body>
</html>