{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Aegis</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/6511f82daf.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'styles.css' %}">

</head>
<body>

    <header>
        <nav>
            <div class="left">
                <div class ="brand-logo"><img src="{% static 'images/png-transparent-password-manager-user-computer-icons-password-safe-safe-blue-text-technic.png' %}" alt="Logo"></div>
                <div class ="name"><span><a class="brand-name" href = "#">Aegis</a></span></div>
            </div>
            <div class="mid">
                <ul>
                    <li><a class = "options" href = ""><i class="fa-solid fa-house"></i>Home</a></li>
                    <li><a class = "options" href = ""><i class="fa-solid fa-caret-down"></i>Features</a></li>
                    <li><a class = "options" href = ""><i class="fa-solid fa-phone"></i>Contact Us</a></li>
                </ul>
            </div>

            <div class = "right">
                {% if signed %}
                    <div class = "signed_name"> {{name}} </div>
                {% else %}
                    <a href="accounts/signin">
                        <button class="signin-button">Sign in</button>
                    </a>
                    <a href="acc">
                        <button class="login-button">Log in</button>
                    </a>
                {% endif %}
            </div>
    
        </nav>

    <div class = "banner-content">
        <section class = "content">
            <h1 class = "banner">Secure yourself <br>Today with a <br> Password Manager</h1>
            <p class = "content-info">Forget the hassle of memerising password. Now manage all <br>of your passwordas using <span>Aegis.</span> 
            Now using a single Master <br>Password amange all of your Passwords</p>
        </section>
        <div class ="security-pics"><img src="{% static 'images/istockphoto-1458701864-170667a.webp' %}" alt="image"></div>
    </div>

    <div class = "main-content">
        {% if signed %}
            <a href="accounts/info">
                <button class="enter-button">Enter In</button>
            </a>
    </div>

</body>
</html>