{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Aegis</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon-32x32.png' %}">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/6511f82daf.js" crossorigin="anonymous"></script>
    


    <link rel="stylesheet" href="{% static 'styles.css' %}">

</head>
<body>

    <header>
        <nav>
            <div class="left">
                <div class ="brand-logo"><img src="{% static 'images/png-transparent-password-manager-user-computer-icons-password-safe-safe-blue-text-technic.png' %}" alt="Logo"></div>
                <div class ="name"><span><a class="brand-name" href = "{% url 'home' %}">Aegis</a></span></div>
            </div>
            <div class="mid">
                <ul>
                    <li><a class = "options" href = "{% url 'home' %}"><i class="fa-solid fa-house"></i>Home</a></li>
                    <li><a class = "options" href = "#fet-sec"><i class="fa-solid fa-caret-down"></i>Features</a></li>
                    <li><a class = "options" href = "#foot"><i class="fa-solid fa-phone"></i>Contact Us</a></li>
                </ul>
            </div>

            <div class = "right">
                {% if signed %}
                    <div class = "signed_name"> {{name}} </div>
                {% elif login_state %}
                    <div class = "signed_name"> Welcome {{user.first_name}} </div>
                {% else %}
                    <a href="{% url 'signin' %}">
                        <button class="signin-button">Sign in</button>
                    </a>
                    <a href="{% url 'login' %}">
                        <button class="login-button">Log in</button>
                    </a>
                {% endif %}
            </div>
    
        </nav>

    <div class = "banner-content">
        <section class = "content">
            <h1 class = "banner">Secure yourself <br>Today with a <br> Password Manager</h1>
            <p class = "content-info">Forget the hassle of memerising password. Now manage all <br>of your passwordas using Aegis. 
            Now using a single Master <br>Password amange all of your Passwords</p>
        </section>
        <div class ="security-pics"><img src="{% static 'images/homepage-hero-2.jpg' %}" alt="image"></div>
    </div>

    <div class = "main-content">
        {% if signed %}
            
            <div class = "main-content-text">
                <h1> Hi {{name}}</h1>
            </div>
            <div>
                <a href = "{% url 'info' %}"><button class = "goto">Go to your Password manager</button></a>
            </div>

        {% elif login_state %}
        <div class = "main-content-text">
            <h1> Hi {{user.first_name}}  {{user.last_name}}</h1>
        </div>
        <div>
            <a href = "{% url 'info' %}"><button class = "goto">Go to your Password manager</button></a>
        </div>



        {% else %}
            <div class = "main-content-text">
                <h1> Book your Security Now </h1>
            </div>    
            <div>
            <a href="{% url 'signin' %}"><button class="book-security">Book Security</button></a>
            </div>
        {% endif %}    
    </div>

    {% comment %} {% if login_state %}
        <div class = "main-content">
            <div>
                <h1> {{user.first_name}} </h1>
            </div>
            <div>
                <a href = "info/"><button>Go to your Password manager</button></a>
            </div>

    {% endif %}    
    </div> {% endcomment %}
{% comment %} 
    <section class = "carousel-section">
        <h1>Take command over your security</h1>
        <div class = "carousel-container">
            <div class = "image-container">
                <img src="{% static 'images/cyber1.jpg' %}" alt="image1">
                <img src="{% static 'images/cyber2.jpg' %}" alt="image2">
                <img src="{% static 'images/cyber3.jpg' %}" alt="image3">
                <img src="{% static 'images/cyber4.jpg' %}" alt="image4">
            </div>
        </div>
    </section>     {% endcomment %}


    <section class="features-section" id = "fet-sec">
    
        <div class="feature">
            <img src="{% static 'images/cyber4.jpg' %}" alt="Feature 1">
            <h3>Secure Storage</h3>
            <p>Safely store your passwords.</p>
        </div>
        <div class="feature">
            <img src="{% static 'images/cyber2.jpg' %}" alt="Feature 2">
            <h3>Password Manager</h3>
            <p>Manage all your passwords.</p>
        </div>
        <div class="feature">
            <img src="{% static 'images/cyber3.jpg' %}" alt="Feature 3">
            <h3>Single Master password</h3>
            <p>Effortlessly fill login forms with saved credentials.</p>
        </div>
    </section>



    <footer class="footer" id = "foot">
        <div class="footer-contact">
            <h3>Contact Us</h3>
            <p>Email: contact@passwordmanager.com</p>
            <p>Phone: 9999999999</p>
        </div>
        <div class="footer-details">
            <h3>Password Manager</h3>
            <p>Securely manage your passwords with our app.</p>
            <p>&copy; 2023 Password Manager. All rights reserved.</p>
        </div>
        <div class="footer-social">
            <h3>Connect With Us</h3>
            <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
        </div>
    </footer>
    

    {% comment %} <script>
        let slideIndex = 1;
        showSlides(slideIndex);

// Next/previous controls
        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

// Thumbnail image controls
        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
        let i;
        let slides = document.getElementsByClassName("mySlides");
        let dots = document.getElementsByClassName("dot");
        if (n > slides.length) {slideIndex = 1}
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "block";
        dots[slideIndex-1].className += " active";
        }

    </script> {% endcomment %}




    


</body>
</html>