*{
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

nav {
    /* position: fixed;
    width: 100%;
    top:0;
    left:0; */
    background-color: dodgerblue;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

nav ul{
    display: flex;
    justify-content: center;
}

nav ul li{
    list-style: none;
    margin: 0px 25px;
}

.left{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    

}

.options{
    text-decoration: none;
    
}

.options i {
    margin-right: 8px; 
}


.options:hover i {
    color: rgb(5, 5, 72); 
}


.brand-logo{
    margin: 10px 20px;
}

.brand-logo img{
    height: 80px;
}

span{
    color: darkblue;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}
.name{
    font-family: 'Roboto', sans-serif;
}

.brand-name{
    text-decoration: none;
    transition: color 0.3s ease;
}
.brand-name:hover {
    color: black;
}

.signin-button {
    padding: 10px 20px;
    background-color: darkblue;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer; 
    transition: background-color 0.3s ease;
}

.signin-button:hover {
    background-color: #ffaa33;
}

.login-button {
    padding: 10px 20px;
    background-color: darkblue;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer; 
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #ffaa33;
}

.signed_name{
    color: floralwhite;
    font-size: 25px;
}

.banner-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 39px;
}
.banner{
    font-size: 50px;
}

p.content-info{
    margin-top: 10px;
    font-size: 20px;
}

main{
    display: flex;
}

.sidebar {
    overflow-y: auto; 
    position: fixed; 
    top: 0;
    left: 0;
    bottom: 0;
    width: 150px;
    height: 100vh;
    background-color: #042331;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    
}


.sidebar-menu {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-menu li {
    margin-bottom: 20px;
}

.sidebar-menu a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    display: flex;
    
    flex-direction: column;
    align-items: center;
}

.sidebar-menu a i {
    margin-bottom: 10px;
    font-size: 1.5rem; 
}

.side-container{
    margin: 30px;
}



.display-title{
    margin: 10px;
}

.display-header{
    display: flex;
    align-items: center;
}

.add-button{
    margin:30px;
}


.show-passwords{
    flex: 1 1 auto;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px;
}

.display-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 3px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #bedefa;
    width: 200px;
    height: 200px;
    margin: 15px;

}

.display-item h2 {
    
    
    font-size: 18px;
    
}

.display-item p {
    
    margin-top: 5px;
    font-size: 14px;
    color: #555;
}


.display-item .view-button, .update-button {
    margin-bottom: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.display-item .view-button:hover {
    background-color: #0056b3;
}





.display-item .delete-button {
    margin-bottom: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.display-item .delete-button:hover {
    background-color: #0056b3;
}


#addPass {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

#addPass:hover {
    background-color: #2980b9;
}


.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    cursor: pointer;
}

.password-form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
}

.password-form label {
    margin-top: 10px;
    font-weight: bold;
}

.password-form input, .password-form textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
}

.password-form button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 15px;
}

.main-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: dodgerblue;
    height: 200px;
    padding: 39px;
}

.main-content-text{
    font-size: 20px;
}

.book-security {
    display: inline-block;
    font-size: 30px;
    margin-right: 40px;
    padding: 10px 30px;
    background-color: darkblue;
    color: white;
    border: 2px solid black;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.book-security:hover {
    background-color: dodgerblue;
}

.goto{
    display: inline-block;
    font-size: 30px;
    margin-right: 40px;
    padding: 10px 30px;
    background-color: darkblue;
    color: white;
    border: 2px solid black;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.goto:hover{
    background-color: dodgerblue;
}


/* 
.carousel-section{
    background-color: darkblue;
    width: 100%;
    height: 600px;
}
.carousel-container{
    overflow: hidden;
}



.image-container{
    overflow: hidden;
} */


.features-section {
    background-color: #f9f9f9;
    padding: 40px 0;
    text-align: center;
    display: flex;
}

.features-section h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

/* Style individual feature boxes */
.feature {
    display: inline-block;
    width: 30%;
    margin: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.feature:hover{
    background-color: #00aced;
    z-index: 3;
}

.feature img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}



.feature h3 {
    font-size: 20px;
    margin: 10px 0;
}

.feature p {
    font-size: 16px;
}

.footer {
    background-color: darkblue;
    color: #fff;
    padding: 30px 0;
    text-align: center;
}

.footer h3 {
    font-size: 24px;
    margin-bottom: 10px;
}


.footer-contact,
.footer-details,
.footer-social {
    display: inline-block;
    width: 33.33%;
    padding: 0 20px;
}

.footer p {
    font-size: 16px;
    margin: 5px 0;
}

.social-icon {
    color: #fff;
    font-size: 24px;
    margin: 0 10px;
    transition: color 0.3s ease-in-out;
}

.social-icon:hover {
    color: #00aced; 
}

ul.messages {
    list-style: none;
    padding: 10px;
    margin: 0;
}

ul.messages li.message {
    padding: 10px 20px;
    margin: 5px 0;
    border-radius: 5px;
    font-size: 16px;
}

ul.messages li.success {
    background-color: #dff0d8;
    color: #3c763d;
    border: 1px solid #d6e9c6;
}




